$ocean-blue: #0277bd;
$rich-black: #00171f;
$prussian-blue: #003459;

body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.navbar {
  padding-right: 20px;
}

.panel {
  border-color: #222;
  .panel-heading {
    background-color: #222;
    border-color: #222;
  }
}

.login {
  width: 55%;
  margin: 10px auto;
}
