{% extends "layout.html" %}

{% block body %}
<div class="container">
  <h4 class="center-align valign">Enter item information to create</h4>
  <form method="POST">
    <div class="row">
      <div class="input-field col s12">
        <input type="text" name="name" value="{{item.name}}">
        <label for="name">Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="description" name="description" class="materialize-textarea">
          {{item.description}}
        </textarea>
        <label for="description">Description</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s3">
        <input type="text" name="price" value="{{item.price}}">
        <label for="price">Price</label>
      </div>
      <!-- <div class="input-field col s9">
        <select id="categoryList" name="category">
          <option value="" disabled selected>Choose Item Category</option>
          {% for cat in categories %}
          <option value="{{cat.id}}">{{cat.name}}</option>
          {% endfor %}
        </select>
      </div> -->
    </div>
    <input type="submit" class="btn waves-lights">
    <a href="/item/{{item.category.name}}/{{item.id}}">Cancel</a>
  </form>
</div>
{{item.category_id}}

<script>
  $(document).ready(function() {
    $('select').material_select();
    $('#categoryList').val('{{item.category_id}}').change();
  });
</script>
{% endblock %}
