{% extends "layout.html" %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-sm-7">
      <img class="img-responsive" src="http://placehold.it/650x840" alt="">
    </div>
    <div class="col-sm-5">
      <h3>{{item.name}}</h3>
      <h4>{{item.description}}</h4>
      <h4>{{item.price}}</h4>
      {% if 'username' in session %}
        <a href="/item/edit/{{item.category_id}}/{{item.id}}" class="btn btn-primary">Edit Item</a>
        {% if session['username'] == item.user.name %}
          <a href="/item/delete/{{item.category_id}}/{{item.id}}" class="btn btn-danger">Delete Item</a>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
