{% extends "layout.html" %}

{% block body %}
<main class="container">
  <a href="/item/create">Create new item</a>
  <div class="row">
  {% for i in items %}
    <div class="col s12 m6 l3">
      <div class="card small">
        <div class="card-image">
          <img src="http://placehold.it/350x150" alt="">
          <span class="card-title">{{i.name}}</span>
        </div>
        <div class="card-content">
          <p>{{i.description}}</p>
        </div>
        <div class="card-action">
          <a href="/item/{{i.category.name}}/{{i.id}}">Info</a>
          <a href="/item/delete/{{i.id}}" class="left-align">Delete</a>
          <p class="right-align">${{i.price}}</p>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</main>

{% endblock %}
