{% extends "layout.html" %}

{% block body %}

<main class="container">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{message}}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4>Most Recent Items</h4>
    </div>
    {% for i in items %}
      <a href="/item/{{i.category.name}}/{{i.id}}" class="list-group-item">{{i.name}}</a>
    {% endfor %}
  </div>

  {% if 'username' in session %}
    <a class="btn btn-primary" href="/item/create">New Item</a>
  {% endif %}

</main>

{% endblock %}
